@{
    Layout = "_AdminLayout";
}

<div class="mb-3">

    <a asp-controller="Admin" asp-action="DoctorRegistration" class="btn btn-primary me-2">Edit & Delete</a>
    <a asp-controller="Admin" asp-action="DoctorRegister" class="btn btn-secondary">Register Doctor</a>
</div>
