@model ClinicConnect.Models.Doctor


@{
    ViewData["Title"] = "Edit Doctor";
    Layout = "_AdminLayout";
}

<h2>Edit Doctor</h2>

<form asp-action="EditDoctor" method="post">
    <input type="hidden" asp-for="DoctorId" />
    <div class="form-group">
        <label for="DoctorName">Doctor Name</label>
        <input type="text" class="form-control" asp-for="DoctorName" />
        @* <span asp-validation-for="DoctorName" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label for="DoctorEmail">Email</label>
        <input type="email" class="form-control" asp-for="DoctorEmail" />
       @*  <span asp-validation-for="DoctorEmail" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label for="DoctorPhoneNo">Phone Number</label>
        <input type="text" class="form-control" asp-for="DoctorPhoneNo" />
      @*   <span asp-validation-for="DoctorPhoneNo" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label for="Specialization">Specialization</label>
        <input type="text" class="form-control" asp-for="Specialization" />
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="NormPassword">Password</label>
        <input type="password" class="form-control" asp-for="UserPassword" />
        @* <span asp-validation-for="UserPassword" class="text-danger"></span> *@
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Message"]
    </div>
}

has context menu