@{
    Layout = "_AdminLayout";
}

<div class="mb-3">
 
    <a asp-controller="Admin" asp-action="PatientRegistration" class="btn btn-primary me-2">Edit & Delete</a>
    <a asp-controller="Admin" asp-action="PatientRegister" class="btn btn-secondary">Register Patient</a>
</div>
